@import "Variables";

.credit-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  visibility: hidden;
  @media screen and (min-width: 600px) {
    visibility: visible;
  }
}

.credit {
  position: relative;
  left: -50%;
  color: $color-text-primary;
}
