.teams-wrapper {
    display: flex;
}

.team-card {
    background-color: #f5f6fa;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2em;
    margin: 1em;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

/* Header */

.team-card-header {
    display: flex;
    margin-bottom: 1em;
}

.team-card-header-title {
    margin: 0;
}

.team-card-header-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Sniglet', cursive;
    font-size: 1.2em;
    color: #e84118;
    margin-left: auto;
}

/* Content */

.team-card-content-player {
    display: flex;
    margin: 1em;
}

.team-card-content-player-button {
    visibility: hidden;
    font-family: 'Sniglet', cursive;
    background-color: transparent;
    border: none;
    margin-left: auto;
}

.team-card-content-player:hover .team-card-content-player-button {
    visibility: visible;
    cursor: pointer;
}

/* Actions */

.team-card-actions {
    display: flex;
    box-shadow: 0 4px 10px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.team-card-actions-input {
    font-family: 'Sniglet', cursive;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1em;
    outline: none;
}

.team-card-actions-button {
    font-family: 'Sniglet', cursive;
    background-color: #f5f6fa;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    flex: 1;
    color: #7f8fa6;
}

.team-card-actions-button:disabled {
    cursor: not-allowed;
}