@import url('https://fonts.googleapis.com/css?family=Sniglet');

// COLORS

// Card
$color-card-box-shadow: rgba(0, 0, 0, 0.2);
$color-card-actions-box-shadow: rgba(0, 0, 0, 0.1);
$color-card-actions-background: #f5f6fa;
$color-card-actions-color: #7f8fa6;
$color-card-background: #f5f6fa;
$color-card-delete-button: #e84118;

// Button
$color-button-box-shadow: rgba(0, 0, 0, 0.2);
$color-button-background: transparent;
$color-button-border: #f5f6fa;
$color-button-text-color: #f5f6fa;
$color-button-hover-background: #f5f6fa;
$color-button-hover-border: #f5f6fa;
$color-button-hover-text-color: #353b48;
$color-button-disabled-hover-text-color: #f5f6fa;
$color-button-inverted-background: #f5f6fa;
$color-button-inverted-border: #353b48;
$color-button-inverted-box-shadow: rgba(0,0,0,0.2);
$color-button-inverted-text-color: #353b48;
$color-button-inverted-hover-background: #e4e4e4;

// Text
$color-text-primary: #f5f6fa;
$color-text-accent: #2f3640;

// Checkmark
$color-checkmark-background: #d6d6d6;
$color-checkmark-hover-background: #ccc;
$color-checkmark-check: #2196F3;
$color-checkmark: #f5f6fa;

// Dice
$color-dice-background: #f5f6fa;
$color-dice-border: #2f3640;

// Table
$color-table-background1: #ececec;
$color-table-background2: #f5f6fa;
$color-table-border: #2f3640;

// FONTS
$font-default: 'Sniglet', cursive;