@import 'Variables';

.win-wrapper {
  text-align: center;
  color: $color-text-primary;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes celebration {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    top: -300px;
  }
}
@keyframes celebration {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    top: -300px;
  }
}