@import './styles/Variables';

.app-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.button-style {
    font-family: $font-default;
    box-shadow: 0 4px 8px 0 $color-button-box-shadow;
    background-color: $color-button-background;
    border: 1px solid $color-button-border;
    color: $color-button-text-color;
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    z-index: 100;
}

.button-style:hover {
    background-color: $color-button-hover-background;
    border: 1px solid $color-button-hover-border;
    color: $color-button-hover-text-color;
}

.button-style:disabled {
    opacity: 0.5;
    cursor: default;
}

.button-style:disabled:hover {
    background-color: transparent;
    color: $color-button-disabled-hover-text-color;
}

.button-style-inverted {
    font-family: $font-default;
    box-shadow: 0 4px 8px 0 $color-button-inverted-box-shadow;
    background-color: $color-button-inverted-background;
    border: 1px solid $color-button-inverted-border;
    padding: .5em;
    font-size: 1em;
    border-radius: 8px;
    color: $color-button-inverted-text-color;
    cursor: pointer;
}

.button-style-inverted:hover {
    background-color: $color-button-inverted-hover-background;
}